<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nombre</key>
		<string>Lago de los Patos, Campus Monterrey (Inicio/Fin)</string>
		<key>direccion</key>
		<string>Av.</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Paseo Tec</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Gasolinera 2 de Abril</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Soriana Garza Sada (José Alvarado)</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Maderera el Salto</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Hospital IMSS #33 (Ginecología)</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Paseo Santa Lucía</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Puenta Peatonal / Tienda LTH (Juventino Rosas)</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Cablevisión / Multimedios</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Transpaís</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Rotonda Tecnológico</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Av. Luis Elizondo</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Starbuck&apos;s / Plaza Alce</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Domino&apos;s Pizza</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Carl&apos;s Jr. Garza Sada</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Chilli&apos;s Garza Sada</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Seat Garza Sada</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Don Colchón Garza Sada</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>7 Eleven (Chiltepec) / Av. Revolución</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Walmart Las Torres</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Prepa Tec (CEGL)</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Puente Progreso (Puente Peatónal)</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>BanRegio</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Bancomer</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>7 Eleven / UANL Mederos</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Farmacias Guadalajara (Bonifacio Salinas Leal) (Parabús)</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Paseo de los Misterios (Parabús)</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Plaza Cortijo del Rio / 7 Eleven</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Paseo de las Fuentes (Parabús)</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Puente Peatonal (Walmart Las Torres)</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>HEB Revolución</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>El Palmito / Tauro</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>7 Eleven / Libra</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Puente Peatonal / Geminis</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Banorte / Constelaciones</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Plaza La Silla</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Soriana Contry</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Telcel Plaza Contry</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Puente Peatónal (Ex-LTH)</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Cinépolis Garza Sada</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>El Borrego, Campus Monterrey</string>
		<key>direccion</key>
		<string>Av.2</string>
	</dict>
</array>
</plist>
